{% extends 'loginapp/base.html' %}

{% block title %}Sign Up Today{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <table class="table table-striped">
                    {% for fm in form %}
                        {{fm.label_tag}}
                        <br>
                        {{fm}} <br> <br>
                        {{fm.errors|striptags}}
                    {% endfor %}
                </table>
                <div class="d-grid">
                    <input type="submit" value="Register" class="alert-dark btn btn-primary">
                </div>
            </form>
            <br>
            {% if messages %}
                {% for message in messages %}
                <small {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} >{{message}}</small>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <!--Below is the way to get errors info presented to the user after submitting of data
        Refer video 41-42-43 from geeky shows to understand loop
        For this chapter refer video 64
        <form action="" method="post" novalidate class="row gx-3 gy-2 align-items-center">
            {% csrf_token %}
            <div class="col-md-4">
                {% for fm in form %}
                    <label class="form-label">{{fm.label_tag}}</label>
                    
                    {{fm}} {{fm.errors|striptags}}
                {% endfor %}
            </div>
            <input type="submit" value="Sign Up">
        </form>-->
{% endblock content %}